<?xml version="1.0"?>

<launch>

  <!-- Set default World to Wall World-->
  <arg name="world_name" default="wall.world"/>
  <arg name="laser_enabled" default="$(optenv HUSKY_LASER_LMS1XX_ENABLED 1)"/>
  <arg name="scan_topic" default="scan" />
  <arg name="map_file" default="$(find husky_slam_navigation)/map/$(arg world_name).yaml" />

  <!-- Launch Gazebo and Husky with Wall World -->
  <group if="$(eval arg ('world_name') == 'wall.world')">
    <include file="$(find husky_gazebo)/launch/husky_empty_world.launch">
      <arg name="world_name" value="$(find husky_highlevel_controller)/worlds/wall.world"/>
		  <arg name="laser_enabled" value="true"/>
	  </include>
  </group>

  <!-- Launch Gazebo and Husky with Office World -->
  <group if="$(eval arg ('world_name') == 'office_world.world')">
    <include file="$(find general)/launch/general.launch" />
    <include file="$(find cpr_office_gazebo)/launch/office_world.launch">
      <!-- <arg name="world_name" value="$(find cpr_office_gazebo)/world/office_world.world"/> -->
      <arg name="platform" value="husky" />
		  <arg name="laser_enabled" value="true"/>
	  </include>
    <include file="$(find husky_viz)/launch/view_robot.launch" />
    <include file="$(find husky_navigation)/launch/gmapping.launch" />
  </group>

  
</launch>
